---
import BaseLayout from "../../layouts/BaseLayout.astro";
import SectionWrapper from "../../components/ui/SectionWrapper.astro";
---

<BaseLayout>

  <section>

  </section>

</BaseLayout>

<style lang="scss">

</style>