---
import { MapLocation } from "../../components";
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactForm from "./ContactForm";
---

<BaseLayout title="Contacto">
  <main>
    <section>
      <div>
        <h1>Contacto</h1>
        <ContactForm client:visible transition:persist />
      </div>
    </section>
  </main>
</BaseLayout>

<style lang="scss">
  main {
    width: 100%;

    @media (min-width: 900px) {
      height: 80vh;
      display: grid;
      grid-template-columns: 1fr;
      align-items: center;
    }
    div {
      background-image: url("/images/form-backgrouns.webp");
      padding: 1em 1.5em 3em 1.5em;
      max-width: 450px;
      width: 100%;

      margin: 1em auto;
      text-align: center;
      border-radius: 1em;

      h1 {
        display: inline-block;
        padding: 0.3em;
        font-size: 2.2em;
        font-weight: 600;
      }
    }
  }
</style>
