---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ContactForm from "./ContactForm";
---

<BaseLayout>

  <section>

    <h2>Contacto</h2>

    <ContactForm client:visible />

  </section>

</BaseLayout>

<style lang="scss">

  section {

    max-width: 450px;
    margin: 2em auto;
    padding: 2em 1em;

    h2 {
      text-align: center;
      margin-bottom: 1em;
    }


  }

</style>