---
import BaseLayout from "../layouts/BaseLayout.astro";
//import Card from "../components/Card.astro";
---

<BaseLayout title="Hankook Alvillantas">
  <main>
    <div class="wrapper-banner">
      <img src="/public/initial-banner.webp" alt="banner hankook alvillantas" />
      <div class="text-absolute-item">
        <h1>La mejora calidad de NEUMÁTICOS A TU ALCANCE</h1>
      </div>
    </div>

  </main>
</BaseLayout>

<style lang="scss">
  main {
    .wrapper-banner {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: start;
      img {
        width: 100%;
        object-fit: contain;

      }
      .text-absolute-item {

        font-size: .7em;
        max-width: 28em;
        padding: 2em 1em;
        position: absolute;
        color: #fff;
        text-transform: uppercase;
        font-style: italic;

      }
    }
    }

  @media (min-width: 576px) {
    main{
      .wrapper-banner {
        .text-absolute-item{
          font-size: 1em;
        }
      }
    }
  }


  @media (min-width: 768px) {
    main {
      .wrapper-banner {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: start;
        img {
          width: 100%;
          object-fit: contain;

        }
        .text-absolute-item {
          margin-top: 2em;
          font-size: 1.5em;
          max-width: 28em;
          padding: 2em 1em;
          position: absolute;
          color: #fff;
          text-transform: uppercase;
          font-style: italic;

        }
      }
    }
  }

  @media (min-width: 920px) {
    main{
      .wrapper-banner {

        img {
          width: 100%;
          object-fit: fill;
          height: 70vh;

        }

        .text-absolute-item{
          font-size: 2em;
        }
      }
    }
  }
</style>
