---
import BaseLayout from "../../layouts/BaseLayout.astro";

console.log("About us page");
---

<BaseLayout title="Nosotros">
  <main>
    <h2>ABOUT US PAGE</h2>
  </main>
</BaseLayout>

<style lang="scss">
  main {
    background: green;
    h1 {
      color: red;
      font-size: 2em;
    }
  }
</style>
