---
import FilterForm from "../ui/FilterForm.astro";
---

<article class="container">
  <section class="options-filter">
    <h2 class="options-filter__title">¿Cómo quieres buscar tus neumáticos?</h2>
    <div class="options-filter__btns">
      <span class="options-filter__btn options-filter__btn--active">
        Por vehículo</span
      >
      <span class="options-filter__btn"> Por medida de neumático</span>
    </div>
  </section>
  <FilterForm />
</article>

<style lang="scss">
  .container {
    width: 100%;
    padding: 1em;
  }
  .options-filter {
    width: max-content;
    margin: 1em auto;

    &__title {
      font-size: 1em;
      font-style: italic;
      text-transform: uppercase;
      font-weight: bold;
      margin-bottom: 0.625em;
    }
    &__btns {
      margin: 0 auto;
      width: 90%;
      background-color: #000;
      border-radius: 20px;
      overflow: hidden;
      display: flex;
      gap: 0.2em;
    }
    &__btn {
      width: 180px;
      font-size: 0.75em;
      padding: 0.5em 2em;
      font-style: italic;
      text-transform: uppercase;
      font-weight: bold;
      text-align: left;
      border: none;
      color: #fff;
      background-color: #454545;

      &:first-child {
        padding-left: 2.5em;
      }
    }
    &__btn--active {
      background-color: #fc4c09;
    }
  }
</style>
