---
import BaseLayout from "../../layouts/BaseLayout.astro";

console.log("products page");
---

<BaseLayout title="Productos">
  <main>
    <h2>PRODUCTS PAGE</h2>
  </main>
</BaseLayout>

<style lang="scss">
  main {
    background: purple;
    h1 {
      color: red;
      font-size: 2em;
    }
  }
</style>
